
<div class="index-collection-container">
  <h1>it works </h1>

<div class="cards">
<% @collections.each do |collection| %>
<%= link_to collection do %>
<div class="">
<p><%= collection.name %></p>
</div>
<% end %>
<% end %>
</div>

<a href=""><%= link_to  "Create new collection", new_collection_path %></a>

</div>


