/* The hero image */
.artist-profile {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  /* Set a specific height */
  height: 35vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.artist-text {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Forum', cursive;
  h1{
    font-family: 'Forum', cursive;
  }
  p{
    font-family: "eb garamond";
  }
}
// .artist-email{
//   font-family: "eb garamond";
// }
.card-trip-user {
    position: absolute;
    height: 11vh;
    width: 11vh;
    left: 47%;
    top: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
