

// FLEX BOX
.flex-container-collection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.collection-card-flex {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 1600px;
  height: 400px;
margin-bottom: 50px;
margin-right: 100px;
margin-top: 20px;
}

.collection-text-area {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
position: relative;
border-width: 1px; 
border-color:rgba(228, 241, 254, 1);
border-style: solid;

}

.collection-text-area {
  justify-content: center; /* align horizontal */
align-items: center;
display: flex;
}
.collection-card-thumbnail {
  width: 400px;
  height: 400px;
  background-position: center center;
  background-size: cover;
 
}

.collection-card-thumbnail-add {
  width: 400px;
  height: 400px;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
}

.collection-text-flex {
  font-family: 'eb-garamond';
  font-size: 20px;
  font-weight: 500;
color:rgba(0, 0, 0, 0.5);
text-align: center;

}

.video-collections {
  
  object-fit: cover;
  opacity: 0.2;
  position: absolute;

}

#collection-artworks {
  height:400px;
  margin-top: 50px;
}
.image-circle-collections {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
  }

  .collection-container {
    margin:150px;
  }

  .collection-card-grid-layout {
    columns: 6 300px;
    column-gap: 1rem;
    padding-top: 40px;
  .art {
    width: 150px;
    display:inline-block;
    width: 100%;
    border: 10px;

    img {
      width: 100%;
    }
  }
}

.btn-collection-style {
  outline:none;
  height: 60px;
  text-align: center;
  width: 30%;
  border-radius:40px;
  background: #fff;
  border: 2px solid $trademarkblue;
  color:$trademarkblue;
  letter-spacing:1.5px;
  text-shadow:0;
  padding: 1rem;
  font:{
    size:16px;
    font-weight:300;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $trademarkblue;
    text-decoration: none;
  }
  &:active {
    letter-spacing: 2px ;
  }
  &:after {
    content:"Create Collection";
  }
  a {
    text-decoration: none;
  }
}
.onclic {
  width: 40px;
  border-color:$grey;
  border-width:3px;
  font-size:0;
  border-left-color:$trademarkblue;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$trademarkblue;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $trademarkblue;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}