

// FLEX BOX
.flex-container-collection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 200px;
}
.collection-card-flex {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 600px;
  height: 300px;
  margin: 100px;

  margin-bottom:350px;
}

.collection-text-area {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 1px; 
  border-color: rgb(137, 207, 240);
  display: flex;
  justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
border-radius: 100%;
}

.collection-card-thumbnail {
  width: 300px;
  height: 300px;
  background-position: center center;
  background-size: cover;
  border-style: solid;
  border-width: 1px; 
  border-color: rgb(137, 207, 240);
  border-radius: 100%;
}

.collection-text-flex {
  font-family: 'eb-garamond';
  font-size: 18px;
  font-weight: 500;
color:rgba(0, 0, 0, 0.5);
text-align: center;

}