// Main container Description Styles
.first-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 450px;
}
.avatar-gallery {
    text-align: center;
    width: 204px;
    margin-right: 169px;
    position: relative;
    height: 241px;
    top: 107px;
img{
        width: 145px;
        border-radius: 50%;
    }
  button{
    font-family: 'roboto';
    font-size: 18px;
    border-radius: 5px;
    border-color: black;
    background: white;
    height: 51px;
    margin-top: 5px;
    width: 121px;
  }
}

.headertext {
  text-align: center;
  font-family: 'Forum', cursive;
  color: black;
}
.description-gallery
h2{
  font-family: 'Forum';
  font-size: 92px;
  h3{
  font-family: 'Forum';
  }
}

.description-gallery p{
    text-align: left;
    width: 900px;
    font-size: 24px;
    font-family: 'forum';
    color: #6D6C6C;
}
.description-gallery {
    margin-left: 47px;
    width: 1200px;
}

.masonry-with-columns {
  columns: 6 300px;
  column-gap: 1rem;
  padding-top: 40px;
  .art {
    width: 150px;
    display:inline-block;
    width: 100%;
    border: 10px;
    border-color: red;

    img {
      width: 100%;
    }
  }
}








/***
=============================================
    Breadcrumb area style
=============================================
***/
.breadcrumb-area {
  position: relative;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 345px 0 205px;
  margin-bottom: 100px;
  margin-top: -140px;
  z-index: 10;

}
.breadcrumb-area::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
  content: "";
  z-index: -1;
}
.breadcrumb-area .inner-content {
  position: relative;
  display: block;
  z-index: 1;
}
.breadcrumb-area .title {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 370px;
  width: 100%;
}
.breadcrumb-area .title:before{
  position: absolute;
  top: 0;
  left: -50000px;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.60);
  z-index: -1;
}
.breadcrumb-area .title h1{
  color: #e5f3ff;
  font-size: 60px;
  line-height: 80px;
  font-weight: 400;
  text-transform: capitalize;
}


.breadcrumb-area .breadcrumb-menu {
  position: relative;
  display: block;
  line-height: 0;
}
.breadcrumb-area .breadcrumb-menu ul {
  position: relative;
  display: inline-block;
  padding: 11px 0 11px;
  overflow: hidden;
  text-align: center;
  max-width: 370px;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.breadcrumb-area .breadcrumb-menu ul:before {
  position: absolute;
  top: 0;
  left: 25px;
  bottom: 0;
  right: -25px;
  content: "";
  background: rgba(228, 179, 64, 0.60);
  z-index: -1;
  -moz-transform: skew(45deg, 0deg);
  -webkit-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
}

.breadcrumb-area .breadcrumb-menu ul li {
  position: relative;
  display: inline-block;
  float: none;
  color: #e5f3ff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 500ms ease;
  padding: 0 25px;
  font-family: 'Archivo', sans-serif;
}
.breadcrumb-area .breadcrumb-menu ul li:before {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: -10px;
  font-family: "Flaticon";
  content: "\f10e";
  color: #ffffff;
  font-size: 16px;
  margin: 0px 0;
}
.breadcrumb-area .breadcrumb-menu ul li:last-child:before{
  display: none;
}
.breadcrumb-area .breadcrumb-menu ul li a{
  color: #e5f3ff;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 500ms ease;
}
.breadcrumb-area .breadcrumb-menu ul li.active{
  color: #000000;
}
.breadcrumb-area .breadcrumb-menu ul li a:hover{
  color: #000000;
}


.container-gallery {
  max-width: 1200px;
  padding-left: 100px;
}
.description-gallery{
  width: 897px;
}

.exhibitions-area{
    position: relative;
    display: block;
    padding: 120px 0 70px;
}

.single-exhibition-box{
    position: relative;
    display: block;
    margin-bottom: 50px;
}
.single-exhibition-box .img-holder{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-exhibition-box .img-holder img{
    width: 100%;
    transform: scale(1.0);
}
.single-exhibition-box:hover .img-holder img {
    transform:scale(1.2) rotate(1deg);
}
.single-exhibition-box:hover .img-holder .overlay-style-one {
    opacity: 1;
}

.single-exhibition-box .img-holder .overlay-style-one .zoom-button {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateY(-100px);
    transition: all 500ms ease 900ms;
    opacity: 0;
}
.single-exhibition-box:hover .img-holder .overlay-style-one .zoom-button{
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.8s ease-in-out 0.7s;
}
.single-exhibition-box .img-holder .overlay-style-one .zoom-button a i{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
}



.single-exhibition-box .text-holder {
    position: relative;
    display: block;
    padding-top: 32px;
}
.single-exhibition-box .text-holder span{
    color: #777777;
    font-size: 18px;
}
.single-exhibition-box .text-holder h2{
    font-size: 24px;
    line-height: 42px;
    margin: 14px 0 20px;
    transition: all 700ms linear;
    transition-delay: 0.3s;
}
.single-exhibition-box .text-holder h2 a{
    color: #2d353d;
}
.single-exhibition-box .text-holder p{
    margin: 0 0 30px;
}
.single-exhibition-box .text-holder .button{
    position: relative;
    display: block;
    z-index: 1;
}
.single-exhibition-box .text-holder .button:before{
    position: absolute;
    top: 14px;
    left: 20px;
    right: 20px;
    height: 2px;
    background: #e1e1e1;
    content: "";
    z-index: -1;
}
.single-exhibition-box .text-holder .button:after{
    position: absolute;
    left: 20px;
    bottom: 14px;
    right: 20px;
    height: 2px;
    background: #e1e1e1;
    content: "";
    z-index: -1;
}

.single-exhibition-box .text-holder .button .inner {
    position: relative;
    display: inline-block;
    background: #ffffff;
    padding: 0 15px;
}
.single-exhibition-box .text-holder .button .inner .btn-one {
    background: #ffffff;
    border: 2px solid #e1e1e1 !important;
    color: #2d353d;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px 26px 10px;
}
.single-exhibition-box .text-holder .button .inner .btn-one:before{
    display: none;
}
.single-exhibition-box:hover .text-holder .button .inner .btn-one{
    color: #ffffff;
    border: 2px solid #2d353d !important;
    background: #2d353d;
}



.exhibitions-area.exhibitions-page {
    padding-bottom: 0;
}
.single-exhibition-box.style4 {
    margin-bottom: 40px;
}
.single-exhibition-box.style4 .text-holder p {
    margin: 0 0 20px;
}
.single-exhibition-box .text-holder .bottom{
    position: relative;
    display: block;
}
.single-exhibition-box .text-holder .bottom .review-box{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-exhibition-box .text-holder .bottom .review-box ul{
    position: relative;
    display: block;
    margin-bottom: 9px;
}
.single-exhibition-box .text-holder .bottom .review-box ul li {
    float: none;
    margin: 0 1px;
}
.single-exhibition-box .text-holder .bottom .review-box ul li i{
    color: #e4b33d;
    font-size: 18px;
}
.single-exhibition-box .text-holder .bottom .value{
    font-weight: 400;
}

.review-box {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 16px;
}
.review-box ul {
  display: block;
  overflow: hidden;
}
.review-box ul li {
  display: inline-block;
  float: left;
  margin-right: 4px;
}
.review-box ul li:last-child{
  margin-right: 0px;
}
.review-box ul li i {
  font-size: 18px;
  color: #ffba00;
}
