
.banner-container {
  position: relative;
}

.banner{
  position: absolute;
  display: block;
  z-index: 1;
  top: 25%;
  
  margin-left: 95px;
  margin-right: 200px;

}

.video {
  position: relative;
}
.banner
  h1{
    font-family: 'Forum', cursive;
    color: white;
    font-size: 72px;
  }
.brush-word{
  text-decoration: underline;
}
.second-banner{
  padding-top: 90px;
  padding-bottom: 50px;
  text-align: center;
}
.second-title, .paragraph{
  font-family: 'Forum', cursive;
  color: black;
}
.second-title{
  font-size: 36px;
}
.paragraph{
  font-size: 18px;
}


.masonry-with-columns {
  columns: 6 300px;
  column-gap: 1rem;
  padding-top: 40px;
  .art {
    width: 150px;
    display:inline-block;
    width: 100%;
    border: 10px;

    img {
      width: 100%;
    }
  }
}

// Gallery-Cards-Style

.card-trip {
  // overflow: hidden;
  background: gray;
  box-shadow: 0 0 1px;
  border-color: black;
  width: 350px;
  width: 24%;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  position: relative;
}


.gallery-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}


.card-trip .card-trip-infos {
  padding: 40px;
  display: flex;
  position: relative;
  height: 80px;


}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 127px;
  top: -37px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}


.flex-samples{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 7px;
  .sample{
    background: red;
    width: 100px;
    height: 150px;
  }
}

.sample img{
  width: 100%;
  border-radius: 5px;

}

// Similar Artist Styles
.similar{
  width: 100%;
  padding-bottom: 20px;
  background-color: #F2F2F2;
  h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-size: 24px;
  }
}
.similar-flex{
  display: flex;
  justify-content: center;
    >img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }

}

