

    <div class="collection-card-grid-layout">
      <% @artworks.each do |artwork| %>
        <%= link_to artwork do %>
         
          <%= cl_image_tag(artwork.images.first.key, :width=> 550 , :quality=>"auto", :fetch_format=>:auto)%>
        
        </div>
        <% end %>
      <% end %>
        </div>
      </div>
 

