<h1>Cards</h1>
<div class="row">
  <% @artworks.each do |artwork| %>
    <% h = rand(300..500)%>
    <% w = rand(300..500)%>
    <div class="card">
      <%= cl_image_tag(artwork.images.first.key, height:h, width:w, class: 'img')%>
      <%#= artwork.name %>
    </div>
  <% end %>
</div>
<!-- </div> -->


<a href=""><%= link_to "Create new artwork", new_artwork_path %></a>

