.follow-btn {
  text-decoration: none!important;
  font-family: "forum"!important;
  color: black;
}

.remove-underline {
  a {
    text-decoration: none!important;
  }
}

btn:hover .follow-btn {
  color: rgb(166,216,216)!important;
}

// Submit Button

.btn-submit-position {
  display: block;
  margin: auto;
}

$trademarkblue: #ABDCDA;
$grey: #bbbbbb;

.btn-bespoke {
  outline:none;
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius:40px;
  background: #fff;
  border: 2px solid $trademarkblue;
  color:$trademarkblue;
  letter-spacing:1.5px;
  text-shadow:0;
  font:{
    size:16px;
    font-weight:300;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $trademarkblue;
  }
  &:active {
    letter-spacing: 2px ;
  }
  &:after {
    content:"Create Artwork";
  }
}
.onclic {
  width: 40px;
  border-color:$grey;
  border-width:3px;
  font-size:0;
  border-left-color:$trademarkblue;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$trademarkblue;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $trademarkblue;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-follow, .btn-follow:link, .btn-follow:visited {
  padding: 13px 15px;
  border: 1.5px solid $trademarkblue;
  border-radius: 15px;
  color: gray;
  font-weight: bold;
  font-family: 'forum';
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;
  text-decoration: none;
  
  &:hover {
    background: $trademarkblue;
    border: 1px solid $trademarkblue;
    color: #fefefe;
    border-radius: 15px;
  }
}

a .no-underline {
  text-decoration: none;
}

