.footer-section {
  background: black;
  height: 100px;
  padding: 0px 50px;
  font-family: 'forum';
}

.footer-copyright {
  color: #F2F2F2;
  font-size: 10px;
  font-weight: 600;
  margin: auto auto;
}