.form-container {
  // max-width: 400px;
  // border: 3px solid black;
  padding: 30px;
  border-radius: 2px;
  padding-top: 0;
  margin: 0 auto;
}

// #remove-checkbox input[type="checkbox"] {
//   opacity: 0;
//   position: relative;
// }

.form-heading {
  color: gray;
  font-family: 'forum';
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

.form-body {
  color: gray;
  font-size: 14px;
}

.form-sticky {
  position: sticky;
  top: 0;
}

.form-check-input .check_boxes .optional {
  display: hidden;
}

.form-margin {
  margin: 7% 10%;
  padding-top: 2em;
}

.preview {
  width: 100%;
  height: 100%;
}

.form-group abbr[title] {
  display: none;
}

.image-preview {
  flex: 1;
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.image-form-style {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
}

.form-group {
  max-width: 400px;
}

.form-check {
  display: inline-flex;
  align-items: center; 
  padding-left: 0;
}

.form-check-input {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 6px;
}
