// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "form";

.avatar_image{
  border-radius: 50px;
  width: 30px;
}
 .post_work{
  margin-top: 100px;
  font-family: 'Forum', cursive;
  color: black;
 }

.main-container{
  background-color: white;
  width: 100%;
}


