$main-font: eb-garamond;
$headline-font: forum;

.navbar-lewagon {
  justify-content: space-between;
  background: white;

  a.navbar-brand {
    font-family: $main-font;
    color: rgba(0,  0,  0, 0.8);
    font-size: 26px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }

  a.nav-link {
    font-family: $main-font;
    font-size: medium;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .dropdown-item {
    font-family: $main-font;
    font-size: medium;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.search-center {
  margin: auto;
  font-family: $main-font;
}