

<!--Start breadcrumb area-->
<%# <section class="breadcrumb-area" style="background-image: url(https://s3.amazonaws.com/files.collageplatform.com.prod/image_cache/1600x550/5b363dcb6aa72c840f8e552f/96740a9a689ea69190ad5c0088c3edb0.jpeg);">
    <div class="container-gallery">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                        <h1>Current Galleries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> %>


<div class="banner-container" height="980px">
    <div class="banner" >
      <h1>CURRENT<br> <spam class="brush-word">EXHIBITIONS</spam></h1>
  </div>
  <div class="video">
      <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592680176/gallery-short_k5awm0.mov")%> type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!--End breadcrumb area-->

<div class="container">
    <div class="row">
        <div class="col-sm-6 py-2">
            <div class="card">
               <img src="https://miro.medium.com/proxy/1*U_EBuE5o9Urc31tqAkFDOQ.jpeg" class="card-img-top" alt="...">
                
                <div class="gallery-card-avatar">
                    <img class="image-circle" src="https://www.vincentvangogh.org/images/self-portrait.jpg"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="gallery-name-text">In Retrospective.</p>
                    <p class="card-text">Oil on Charcoal</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <div class="col-sm-3" id="img-row">
                                <div class="thumbnail">
                                    <img class="thumbnail-img" src="https://i.pinimg.com/originals/8e/6f/bb/8e6fbbadcaa7a61da620e4f3c52caa4f.jpg" />
                                </div>
                            </div>
                            <div class="col-sm-3" id="img-row">
                                <div class="thumbnail">
                                    <img class="thumbnail-img" src="https://images.saatchiart.com/saatchi/830679/art/5524997/4594809-OTYKQZZE-7.jpg" />
                                </div>
                            </div>
                          <div class="col-sm-3" id="img-row">
                                <div class="thumbnail">
                                    <img class="thumbnail-img" src="https://images.saatchiart.com/saatchi/830679/art/5524997/4594809-OTYKQZZE-7.jpg" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="thumbnail" id="img-row">
                                    <img class="thumbnail-img" src="https://www.christies.com/img/LotImages/2018/CKS/2018_CKS_15483_0018B_000(claude_monet_coup_de_vent).jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>





<a href=""><%= link_to "Create new gallery", new_gallery_path %></a>



