
<section class="exhibitions-area exhibitions-page">
    <h4 class="headertext">Current Opening Galleries</h4>
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(http://mehedi.asiandevelopers.com/demo/museum/images/slides/v1-3.jpg);">
    <div class="container-gallery">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                       <h1>Current Galleries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
    <div class="container-gallery">
        <div class="row masonary-layout">
            <!--Start single exhibition Box-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-exhibition-box style4">
                    <div class="img-holder">
                        <img src="http://mehedi.asiandevelopers.com/demo/museum/images/resources/exhibition-1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery" href="images/resources/exhibition-1.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-holder text-center">
                        <span>Exhibition</span>
                        <h2><a href="#">The Museum is Located in St- Germain Castle</a></h2>
                        <p>From 6 Sept 2020 until 7 Jan 2020</p>
                        <div class="bottom">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="value">$ 60.00</div>
                        </div>
                    </div>   
                </div>    
            </div>
        </div>
        <!--Start single exhibition Box-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-exhibition-box style4">
                    <div class="img-holder">
                        <img src="http://mehedi.asiandevelopers.com/demo/museum/images/resources/exhibition-2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one bg1">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery" href="images/resources/exhibition-2.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder text-center">
                        <span>Display</span>
                        <h2><a href="#">Healing Arts with Memory, Meaning and Might</a></h2>
                        <p>From 16 NOV, 2020 Until 7 Jan 2021</p>
                        <div class="bottom">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="value">$ 60.00</div>
                        </div>
                    </div>   
                </div>    
            </div>




        <div class="row">
            <div class="col-xl-12">
                <div class="view-more-button text-center">
                    <a class="btn-two" href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="first-component">
  <div class="description-gallery">
    <h2>An Introspective: Monet Claude</h2>
    <h3>Gallery Opening: June - August 2019</h3>
    <p> When inspiration comes to an artist, no matter whatever it is and wherever it comes,
        from it makes him open up, expose his bare feelings to outsiders. It is exactly this openness
        expressed by paint on canvas that gets noticed and that touches us.</p>
  </div>
  <div class="avatar-gallery">
    <img src="https://www.vincentvangogh.org/images/self-portrait.jpg" alt="">
    <button type="button" class="button">Admire</button>
  </div>
</div>



<a href=""><%= link_to "Create new gallery", new_gallery_path %></a>



